
.body_word{
    color: rgb(196, 37, 37)
}

.head_txt{
  margin-top: 0px;
    width: 25rem;
    margin-left: 8rem;
}

h1{
    color: rgb(29, 6, 77);
}

.button_carousel{
    display: flex;
    align-items: center; 
    justify-content: space-between;
 } 

.nxt_btn{
    color: black;
}
.pre_btn{
    color: black
}

@media screen and (max-width: 700px) {
    .head_txt {
      width: 50%;
      margin-left: 2rem;
      margin-right: 2rem;
      text-align: center;
    }
  
    .button_carousel {
      margin-left: auto;
      margin-right: auto;
    }
  
    .nxt_btn,
    .pre_btn {
      font-size: 1.5rem;
    }
  }
  