body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 375px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.main input {
  width: 100px;
  margin-bottom: 10px;
  display: flex;
}
/* .main button {
  display: flex;
  width: 50px;
} */
.box button {
    margin-left: 10px;
    height: 22px;
}
.box input{
    margin-left: 48px;
    
}
.box {
    /* width: 50px; */
    display: flex;
}
li{
    list-style: none;
}